{% extends '_layouts/in_app.html.twig' %}

{% block title %}Guide du parcours | EcoloCoach{% endblock %}
{% block header_title %}<h1>Guide du parcours</h1>{% endblock %}

{% block content %}
    <h2>Vue d'ensemble du Parcours (Évolution future)</h2>

    <p>
        <em><strong>Note pour la soutenance :</strong> Cette section présentera à terme la carte globale du parcours d'accompagnement.
            L'utilisateur pourra cliquer sur les niveaux déjà validés pour revoir ses leçons passées,
            tandis que les niveaux futurs resteront verrouillés graphiquement jusqu'à leur activation.</em>
    </p>
{% endblock %}
