{% extends '_layouts/in_app.html.twig' %}

{% block title %}Mon parcours | EcoloCoach{% endblock %}

{% block content %}

    {% if user_current_level is not null %}
        <p>Niveau {{ user_current_level.sequenceNumber }}</p>
        <p>{{ user_current_level.name }}</p>
    {% else %}
        <p>Aucun niveau actif trouvé pour cet utilisateur.</p>
    {% endif %}

    {% for event in events_of_level %}
        <a href="">{{ event.eventType.value }} {{ event.sequenceNumber }}</a>
    {% endfor %}

{% endblock %}
