{% extends '_layouts/in_app.html.twig' %}

{% block title %}Communauté | EcoloCoach{% endblock %}
{% block header_title %}<h1>Communauté</h1>{% endblock %}

{% block content %}
    <div class="future-feature-card">
        <h3>Bientôt : Espace Communauté et Équipes</h3>
        <p>L'écologie, c'est mieux à plusieurs !
            Connectez-vous avec vos amis, créez votre propre équipe,
            visualisez votre impact carbone collectif et
            lancez-vous dans des défis de groupe stimulants.</p>
    </div>
{% endblock %}
