/*--------------------------------------------------------------------------------*/
/*------------------------------------HEADER--------------------------------------*/
/*--------------------------------------------------------------------------------*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 24px;
    width: 100vw;
    box-sizing: border-box;

    position: sticky;
    top: 0;
    z-index: 100;

    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-green-500);

    gap: 16px;
}

header h1 {
    margin: 0;
}

.co2-counter-pill {
    display: inline-flex;
    align-items: center;

    border: 2px solid var(--color-green-500);
    border-radius: var(--radius-extra-large);

    gap: 24px;
    padding: 12px;
    margin: 0;

    text-transform: none;
}

.co2-amount {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-semibold);
    color: var(--color-green-800);
    white-space: nowrap;
}

.co2-label {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    line-height: 1.2;
    text-align: center;

    color: var(--color-green-900);
}

/*--------------------------------------------------------------------------------*/
/*----------------------------OPEN-CLOSE BURGER MENU------------------------------*/
/*--------------------------------------------------------------------------------*/

.exit-menu-button {
    position: absolute;
    right: 24px;
    height: 80px;
    display: flex;
    align-items: center;
}

.open-menu-button, .exit-menu-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
}

.open-menu-button img, .exit-menu-button img {
    width: 32px;
    height: auto;
    display: block;
}

/*--------------------------------------------------------------------------------*/
/*------------------------------------DIALOG--------------------------------------*/
/*--------------------------------------------------------------------------------*/

dialog {
    width: 100vw;
    height: 100vh;
    max-width: none;
    max-height: none;

    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 24px;

    border: none;
    box-sizing: border-box;

    background-color: var(--color-green-100);
}

dialog[open] {
    display: flex;
    flex-direction: column;
}

dialog h2 {
    font-weight: var(--font-weight-semibold);
    color: var(--color-green-800);

    margin-bottom: 40px;
}

dialog ul {
    list-style: none;

    padding: 0;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-grow: 1;
}

.menu-username {
    display: block;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-semibold);
    color: var(--color-green-900);

    margin-top: 32px;
    border-top: 1px solid var(--color-green-600);
    padding-top: 24px;

    width: 300px;
    text-align: left;
    box-sizing: border-box;
    align-self: flex-start;
}

dialog ul li a.btn-primary-green {
    justify-content: flex-start;
    padding-left: 24px;
}
