{% if is_correct_answer is not null %}

    <div class="feedback-card {{ is_correct_answer ? 'feedback-success' : 'feedback-error' }}">
        <div class="feedback-content">
            <p>{{ is_correct_answer ? 'Bonne réponse !' : 'Mauvaise réponse.' }}</p>
        </div>
    </div>

{% endif %}
