<div class="popup-buttons-wrapper">
    {% if progression is not null and progression.eventStatus.value == 'Accepté' %}

        <form method="POST" action="{{ path('challenge_lifecycle', {'uid': event.uid, 'challengeStatus': 'Terminé'}) }}"
              class="form-full-width">
            <button type="submit" class="btn-primary btn-primary-green">Défi validé !</button>
        </form>

        <form method="POST" action="{{ path('challenge_lifecycle', {'uid': event.uid, 'challengeStatus': 'Refusé'}) }}">
            <button type="submit" class="btn-primary btn-primary-red">Quitter ce défi</button>
        </form>

    {% elseif progression is not null and progression.eventStatus.value == 'Refusé' %}

        <form method="POST"
              action="{{ path('challenge_lifecycle', {'uid': event.uid, 'challengeStatus': 'Accepté'}) }}">
            <button type="submit" class="btn-primary btn-primary-green">Accepter le défi</button>
        </form>

    {% else %}
        <p class="already-done-text">Status : Défi déjà validé !</p>
    {% endif %}
</div>
