{% if progression is not null and progression.eventStatus.value == 'En cours' %}
    <nav class="event-navigation challenge-navigation"
         aria-label="Navigation du challenge">

        <form method="POST" action="{{ path('event_finished', {'uid': event.uid, 'eventStatus': 'Accepté'}) }}">
            <button type="submit" class="btn-primary btn-primary-green">Accepter</button>
        </form>

        <form method="POST" action="{{ path('event_finished', {'uid': event.uid, 'eventStatus': 'Refusé'}) }}">
            <button type="submit" class="btn-secondary btn-secondary-green">Refuser</button>
        </form>
    </nav>

{% else %}

    <p class="challenge-status">
        Statut du défi :
        <strong>{{ progression is not null ? progression.eventStatus.value : 'Non commencé' }}</strong>
    </p>

    <nav class="event-navigation challenge-navigation"
         aria-label="Navigation du challenge">
        <a href="{{ path('recap_challenges') }}" class="btn-primary btn-primary-green full-width">Tous les défis</a>
    </nav>

{% endif %}

