{% set all_flashes = app.flashes %}
{% set target_types = ['success', 'info', 'challenge_accepted', 'challenge_refused'] %}

{% set has_modals = false %}
{% for type, messages in all_flashes %}
    {% if type in target_types and messages is not empty %}
        {% set has_modals = true %}
    {% endif %}
{% endfor %}

{% if has_modals %}
    <div id="flash-overlay-popup" class="overlay-popup">

        <div class="feedback-popup">

            <button type="button"
                    id="flash-close-btn"
                    class="modal-close-cross"
                    aria-label="Fermer la modale">
                <img src="{{ asset('/uploads/icons/cross.svg') }}" alt="Fermer">
            </button>

            <div class="modal-feedback-box">
                {% for type, messages in all_flashes %}
                    {% if type in target_types %}
                        {% for message in messages %}

                            <div class="modal-feedback-text">
                                {{ message|raw }}
                            </div>

                            {% if type in ['challenge_accepted', 'challenge_refused'] %}
                                <a href="{{ path('recap_challenges') }}" class="btn-primary btn-primary-green">
                                    Voir tous mes défis
                                </a>
                            {% endif %}

                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
{% endif %}
