<footer>
    <nav>
        <ul>
            <li>
                <a href="" class="footer-a">Mentions légales</a>
            </li>
            <li>
                <a href="" class="footer-a">Nous contacter</a>
            </li>
        </ul>
    </nav>
</footer>
