<footer>
    <nav>
        <ul>
            <li>
                <a href="{{ path('about') }}" class="footer-a">À propos</a>
            </li>
            <li class="footer-badge">
                <a href="https://bff.ecoindex.fr/redirect/?url=https://ecolocoach.alwaysdata.net/" target="_blank"
                   rel="noopener noreferrer">
                    <img src="https://bff.ecoindex.fr/badge/?theme=light&url=https://ecolocoach.alwaysdata.net/"
                         alt="Ecoindex Badge"/>
                </a>
            </li>
        </ul>
    </nav>
</footer>
