<nav>
    <a href="{{ path('path') }}">
        Mon Parcours
    </a>
    <a href="{{ path('impact') }}">
        Mon Impact
    </a>
    <a href="{{ path('community') }}">
        Communauté
    </a>
    <a href="{{ path('profil') }}">
        Mon Profil
    </a>
</nav>
