{% extends 'base.html.twig' %}

{% block title %}Page introuvable | EcoloCoach{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/error.css') }}"/>
{% endblock %}

{% block body %}

    <div class="error-page-container">
        <div class="error-card">
            <div class="error-illustration">🧭</div>

            <h1 class="error-code">404</h1>

            <h2>Ce sentier n'existe pas...</h2>

            <p>Il semble que la boussole s'affole ! La page que tu cherches a changé de trajectoire ou s'est perdue dans
                la nature.</p>

            <a href="{{ path('home') }}" class="btn-primary btn-primary-green">
                Retourner à l'accueil
            </a>
        </div>
    </div>

{% endblock %}
