{% extends 'base.html.twig' %}

{% block title %}Erreur {{ status_code }} | Erreur Serveur{% endblock %}

{% block body %}
    <p>Oups ! Une erreur est survenue.</p>
    <span>Code {{ status_code }}</span>

    <h2>Erreur serveur</h2>

    <p>Il semble qu'une erreur serveur soit survenue.</p>

    <a href="{{ path('home') }}">Retourner à l'accueil</a>

{% endblock %}
